@media screen and (max-width: 1200px) {
  header {
    height: auto;
  }

  .Product {
    flex-direction: row;
    height: auto;
  }

  .pleft, .pright {
    width: 50%;
    margin-top: 1rem;
  }

  .bannerContainer img {
    width: calc(25% - 15px); /* 4 per row */
  }
}

/*  Tablet (up to 768px width) */
@media screen and (max-width: 768px) {
  .header1 {
    justify-content: space-between;
  }

  .navicons {
    width: auto;
  }

  .searchbar {
    width: 50%;
  }

  .Product {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .pleft, .pright {
    width: 90%;
  }

  .bannerContainer img {
    width: calc(33.33% - 15px); /* 3 per row on tablet */
  }
}

/* Mobile (up to 480px width) */
@media screen and (max-width: 480px) {


    
  /* Remove wishlist & bag icons */
  .navicons {
    display: none;
  }
  /* .TagName{display: flex;justify-content: center;align-items: center;} */

  /* Remove search bar */
  /* .searchbar {
    display: none;
  } */

  /* Stack product vertically */
  .Product {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .pleft, .pright {
    width: 100%;
    margin-top: 1rem;
  }

  .sizebutton, .add, .minus {
    width: 15vw; /* make buttons bigger for touch */
  }

  .addtocart, .buynow {
    width: 80vw;
  }

  /* Banner shows 2 images per scroll */
  .bannerContainer img {
    width: calc(50% - 15px);
  }

  footer {
    font-size: large;
  }
}